@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,regular,500,600,700,800);

* {
   font-family: Dosis;
   margin: 0;
}

body {
    margin: 0;
    background-color: #c1946a;
}

header {
    background-color: #3e4444;
    text-align: center;
}

.title {
    color: #82b74b;
    padding: 20px;
    font-weight: 900;
    font-size: 60px;
    margin: 0;
}

h1 {
    text-align: center;
    margin: 20px;
    font-size: 48px;
    color: #405d27;
}

.button img {
    width: 200px;
    height: 200px;
}

div.select {
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
    margin-bottom: 60px;
}

div.button,
div.score {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}

div.button {
    background-color: white;
}

div.score {
    display: flex;
    justify-content: space-evenly;
}

div.player-score,
div.cpu-score,
h2.message {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
}

div.player,
div.cpu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

